<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatibil" content="ie-edge">
    <link rel="stylesheet" http="/public/css/style.css">
    <title>welcome<% if (typeof user != 'undefined') {%>
        <%= user.name ? user.name: '' %>
        <% } %></title>
</head>

<body>
    <h1>Logare</h1>
<% include ./partials/messageses %>
<form action="/users/login" method="POST">
   <p><label for="email">Email:</label>
      <input type="email" id="email" name="email" placeholder="Email:"></div>
   </p>
   <p><label for="password">Introduceti parola:</label>
      <input type="password" id="password" name="password"
         placeholder="Introduceti parola:"></div>
   </p>
   <button type="submit">Logare</button>
</form>
<p><a href="/users/register">Registrare</a></p>
</body>

</html>